.card-crud {

  .btn-hide {
    opacity: 0;
  }

  .row {
    &:hover {
      cursor: pointer;

      .btn-hide {
        transition: ease-in-out 1s;
        opacity: 1;
      }
    }
  }

  .custom-width {
    font-weight: 600;
    &:nth-child(4) {
      width: 8rem;
    }
  }
}
